# PostgreSQL
POSTGRES_DB=mikro_destek
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Prisma
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false

# Circle
CIRCLE_API_TOKEN=
CIRCLE_COMMUNITY_ID=
